#addbutton {
    float: right;
}
.list-group-item {
    height: 60px;
}

.container {
    margin-top: 5%;
    padding: 5% 5% 5% 5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;

}

.suggestions {
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;

}
.suggestions li {

}
.suggestions li:hover {
    background-color: rgba(65,181,105,0.5);

}
.list-group{
    margin-bottom:  0px;
}
.list-group-item p {
    color: #555;
    padding: 1% 0% 1% 0%;
}