#deletebutton {
    float: right;
}
.list-group-item {
    height: 60px;
}
.container {
    margin-top: 5%;
    padding: 5% 5% 5% 5%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;

}